<div class="container">
  <div class="row col-md-12 col-lg-12 col-xs-12 col-sm-12">
      <img class="center-image " src="../../assets/masterMindLogo.png">
    <div *ngIf="!parametriService.isGameStarted" class=" align-items-center ">

    

 


          <form novalidate [formGroup]="nCifreGenerateForm">
            <div class="form-group">
              <label for="numero">Quante cifre dovrà avere il numero generato?</label><br>
              <input  maxlength="1"  autocomplete="off" type="text" #nCifre id="nCifreGenerate" class="form-control" #numeroInserito
                formControlName="nCifreForm" [class.error1]="!nCifreGenerateForm.controls.nCifreForm.valid && nCifreGenerateForm.controls.nCifreForm.dirty">
            </div>
            <div no-lines *ngIf="( nCifreGenerateForm.get('nCifreForm').hasError('minlength') || nCifreGenerateForm.get('nCifreForm').hasError('maxlength') || nCifreGenerateForm.get('nCifreForm').hasError('pattern') || nCifreGenerateForm.get('nCifreForm').hasError('required') ) && nCifreGenerateForm.get('nCifreForm').touched">
              <div style="color: red !important" class="error" *ngIf="nCifreGenerateForm.get('nCifreForm').hasError('required') && nCifreGenerateForm.get('nCifreForm').touched">
                Inserire un numero
              </div>

              <div style="color: red !important" class="error" *ngIf="nCifreGenerateForm.get('nCifreForm').hasError('minlength') && nCifreGenerateForm.get('nCifreForm').touched">
                Lunghezza minima 1 cifra.
              </div>
              <div style="color: red !important" class="error" *ngIf="nCifreGenerateForm.get('nCifreForm').hasError('maxlength') && nCifreGenerateForm.get('nCifreForm').touched">
                Lunghezza massima 9 cifre.
              </div>
              <div style="color: red !important" class="error" *ngIf="nCifreGenerateForm.get('nCifreForm').hasError('pattern') && nCifreGenerateForm.get('nCifreForm').touched">
                Inserire un numero da 1 a 9
              </div>
            </div>
            <button [disabled]="nCifreGenerateForm.invalid" (click)="contaQuanteCifre(nCifre)" type="button" class="btn btn-info">Inizia!</button>

          </form>
          <br>

       
  
    </div>
    <app-master-mind *ngIf="parametriService.isGameStarted"></app-master-mind>
  </div>

</div>