<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 align-items-center ">



  <form novalidate [formGroup]="masterMindForm">

    <div class="form-group">
      <h3><label for="numero">Digita un numero:</label><br> </h3>
      <input autocomplete="off" type="text" id="numeroInserito" class="form-control" #numeroInserito formControlName="numeroDigitatoForm"
        [class.error1]="!masterMindForm.controls.numeroDigitatoForm.valid && masterMindForm.controls.numeroDigitatoForm.dirty">
    </div>
    <div no-lines *ngIf="( masterMindForm.get('numeroDigitatoForm').hasError('minlength') || masterMindForm.get('numeroDigitatoForm').hasError('maxlength') || masterMindForm.get('numeroDigitatoForm').hasError('pattern') || masterMindForm.get('numeroDigitatoForm').hasError('required') ) && masterMindForm.get('numeroDigitatoForm').touched">
      <div style="color: red !important" class="error" *ngIf="masterMindForm.get('numeroDigitatoForm').hasError('required') && masterMindForm.get('numeroDigitatoForm').touched">
        Inserire un numero
      </div>

      <div style="color: red !important" class="error" *ngIf="masterMindForm.get('numeroDigitatoForm').hasError('minlength') && masterMindForm.get('numeroDigitatoForm').touched">
        Lunghezza minima {{quanteCifre}} cifre.
      </div>
      <div style="color: red !important" class="error" *ngIf="masterMindForm.get('numeroDigitatoForm').hasError('maxlength') && masterMindForm.get('numeroDigitatoForm').touched">
        Lunghezza massima {{quanteCifre}} cifre.
      </div>
      <div style="color: red !important" class="error" *ngIf="masterMindForm.get('numeroDigitatoForm').hasError('pattern') && masterMindForm.get('numeroDigitatoForm').touched">
        Inserire solo numeri senza spazi
      </div>
    </div>
    <br>


    <div class="form-group">
      <button (click)="arrenditi()" data-toggle="modal" [attr.data-target]="'#visualizzaRisultatoModal'" class="btn btn-danger button-width">Ritirati</button>
      <button name="submit" style="float: right;" data-toggle="modal" [attr.data-target]="'#visualizzaEsitoModal'"
        class="btn btn-info btn-md button-width" (click)="elaboraNumero(numeroInserito, numeroGenerato)" [disabled]="masterMindForm.invalid">Tenta
        la
        fortuna</button>
    </div>


  </form>



  <!--  Modale per visualizzare il numero generato -->

  <div class="modal fade" id="visualizzaRisultatoModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="visualizzaRisultatoModalLabel">Gioco Terminato</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="justify-content-center align-items-center well well-sm" style="color: #a94442; background-color: #f2dede; border-color: #ebccd1;">
            <span>
              <h3 class="text-center"> Il numero vincente era {{numeroVincente}}</h3>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="giocaAncora()" class="btn btn-info" data-dismiss="modal">Ok</button>

        </div>
      </div>
    </div>
  </div>

  <!--  Modale per visualizzare il risultato  -->

  <div class="modal fade" id="visualizzaEsitoModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="visualizzaEsitoModalLabel">Gioco Terminato</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="isNumeroIndovinato" class="justify-content-center text-center well well-sm" style="color: #a94442; background-color: #f2dede; border-color: #ebccd1;">
            <span>
              <h3>Complimenti, il numero vincente è {{numeroVincente}}, hai vinto!</h3>
              <p>Numero tentativi: <b> {{numeroTentativi}} </b></p>
            </span>

          </div>
          <div *ngIf="isNumeroIndovinato" class="justify-content-center align-items-center">

            <img class="center-image" src="../../assets/premio.png">


          </div>


          <div *ngIf="!isNumeroIndovinato" class="justify-content-center align-items-center well well-sm" style="color: #a94442; background-color: #f2dede; border-color: #ebccd1;">
            <span>
              <h3 class="text-center">Sono spiacente, non hai indovinato il numero!</h3>
            </span>
          </div>
          <div *ngIf="!isNumeroIndovinato" class="justify-content-center align-items-center well well-sm" style="color: black;  background-color: lightgray; border-color: grey;">
            <p>Ecco alcuni indizi: </p>
            <p>Numero di cifre indovinate, immesse in posizione sbagliata: <b> {{cifrePostoSbagliato}} </b> </p>
            <p>Numero di cifre indovinate, immesse in posizione corretta: <b> {{cifrePostoGiusto}} </b> </p>
          </div>

        </div>
        <div class="modal-footer">
          <button *ngIf="isNumeroIndovinato" type="button" (click)="giocaAncora()" class="btn btn-info" data-dismiss="modal">Gioca
            Ancora</button>
          <button *ngIf="!isNumeroIndovinato" type="button" class="btn btn-info" data-dismiss="modal">Ritenta</button>

        </div>
      </div>
    </div>
  </div>


</div>

<div class="col-md-9 col-lg-9 col-xs-9 col-sm-9 text-center">
  <div class="row">

    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">

      <h3><label for="numero">Storico Tentativi:</label><br> </h3>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">

      <h3><label for="numero">Cifre Posto Giusto:</label><br> </h3>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">

      <h3><label for="numero">Cifre Posto Sbagliato:</label><br> </h3>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
      <ul class="list-group">

        <p class="list-group-item text-left" *ngFor="let numero of storicoNrDigitati; let i = index">
          <b> {{numero}}</b>
        </p>

      </ul>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
      <ul class="list-group">

        <p class="list-group-item text-left" *ngFor="let cifraOk of cifreOk;">
          <b> {{cifraOk}}</b>
        </p>

      </ul>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
      <ul class="list-group">

        <p class="list-group-item text-left" *ngFor="let cifraKo of cifreKo;">
          <b> {{cifraKo}}</b>
        </p>

      </ul>
    </div>

  </div>

</div>